<!DOCTYPE html>

<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Spring Boot</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>

    <table border="1">
      <tr>
        <th>Header1</th>
        <th>Header2</th>
        <th>Header3</th>
        <th>Header4</th>
        <th th:text="${he}"></th>
      </tr>
      <th:block th:each="ml : ${lista}">
        <tr>
          <td th:text="${ml.campo1}"></td>
          <td th:text="${ml.campo2}"></td>
          <td th:text="${ml.campo3}"></td>
          <td th:text="${ml.campo4}"></td>
        </tr>
      </th:block>
    </table>

  </body>
</html>
